<!-- <div class="dark-grey-text" [innerHTML]="htmlData"></div> -->
<div> <h4 class="m-3">Новости</h4>
  <mat-grid-list cols="{{cols}}" rowHeight="13:9" class="m-3">
    <mat-grid-tile  style="background-color: red;" 
                    *ngFor="let item of news"
                    class="z-depth-1-half" 
                    [colspan] = "1"
                    [rowspan] = "1"
    >
    <div class="view zoom card-news">
      <img [src]="item.title_image" alt="">
      <div class="mask rgba-black-light slick-text">
        <h5>{{item.title}}</h5>
      </div>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
