@media screen and (orientation: landscape) { 
  .mat-card-image {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
  .example-form {
    display: block;
    width: 50%;
  }
  
  .example-full-width {
    display: block;
    width: 50%;
  }
}
.example-card {
  max-width: 100%;
}
@media screen and (orientation: portrait) { 
  .mat-card-image {
    height: 15rem !important;
    object-fit: cover !important;
  }
}

.comments {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.example-form {
  display: block;
}

.example-full-width {
  display: block;
}