<div class="container-fluid pt-3">
  <div class="d-flex justify-content-between">
    <app-back-button></app-back-button>
    <h2 class="font-weight-bold text-center">{{award.name}}</h2>
    <div></div>
  </div>
  <hr color="gray">
  <div class="row m-3 animated zoomIn">
        <div class="col-md-5 col-lg-4 mb-3">
            <div class="d-flex justify-content-center align-self-center">
              <img mat-card-image [src]="title_image">
            </div>
        </div>
        <div class="col-md-7 col-lg-8">
          <p style="font-size: 18px; text-align: justify">{{award.description}}</p>
        </div>
  </div>
  <div class="table-responsive">
    <h5>Награжденные:</h5>
    <table mdbTable style="height: 100%;">
      <thead class="black white-text">
      <tr>
        <th>№</th>
        <th>ФИО</th>
        <th>Ранг</th>
        <th>Должность</th>
      </tr>
      </thead>
      <tbody class="white-text">
      <tr mdbTableCol *ngFor="let el of veterans; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{el.fio}}</td>
        <td>{{el.rank}}</td>
        <td>{{el.post}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
