@media screen and (orientation: landscape) {
  .mat-card-image {
    width: 100%;
    height: auto;
  }
}
@media screen and (orientation: portrait) {
  .mat-card-image {
    height: 15rem !important;
    object-fit: cover !important;
  }
}
