<div class="py-5 px-3 text-break">
    <h2>Межрегиональная общественная организация ветеранов оперативных служб "ЧЕСТЬ"</h2>
    <hr>
    <p><b>Наименования субъекта РФ</b>: Северо - Западный</p>
    <p><b>Наименование населенного пункта</b>: Москва</p>
    <p><b>Полное наименование</b>: Межрегиональная общественная организация ветеранов оперативных служб "ЧЕСТЬ"</p>
    <p><b>Сокращенное наименование</b>: МОО ВОС "ЧЕСТЬ"</p>
    <p><b>Организационно-правовая форма</b>: Некоммерческая</p>
    <p><b>Дата регистрации</b>: 24.01.2002</p>
    <p><b>N свидетельства</b>: Свидетельство о регистрации общественной организации 14802</p>
    <p><b>Наименование органа, выдавшего свидетельство</b>: Министрество Юстиции РФ</p>
    <p><b>Населенный пункт, в котором находится регистрирующий орган</b>: Москва</p>
    <p><b>ИНН организации</b>: 7718206064</p>
    <p><b>ОКПО организации</b>: 58400454</p>
    <p><b>ОКОНХ организации</b>: 91.33 (ОКВЭД)</p>
    <p><b>Расчетный счет</b>: 40703810600000000042</p>
    <p><b>Наименование банка</b>: ООО"ФЕРРОБАНК"</p>
    <p><b>Корреспондентский счет</b>: 30101810000000000700</p>
    <p><b>БИК</b>: 044585700</p>
    <p><b>Учредители организации</b>: Физические лица - Дарков А.Е., Гомельский А.В., Ломов С.В., Еременко В.А., Шубин А.В.,Крючков В.Е., Новиков С.В., Егрищин В.В., Емельянов Е.Н.</p>
    <p><b>Основные виды благотворительной деятельности</b>: Социальная поддержка и защита граждан
    улучшение материального положения малообеспеченных
    социальная реабилитация инвалидов и иных лиц, которые в силу своих физических или интеллектуальных особенностей, иных обстоятельств не способны самостоятельно реализовать свои права и законные интересы
    социальная адаптация и реабилитация уволенных в запас военнослужащих и сотрудников иных силовых структур
    Содействие деятельности в сфере физической культуры и массового спорта
    прочее</p>
    <p><b>Наличие паспорта благотворительной организации</b>: нет</p>
    <p><b>Название должности руководителя организации</b>: Председатель Правления</p>
    <p><b>Должности лиц, обладающих правом подписи на документах</b>: Председатель Правления Дарков Алексей Евгеньевич</p>
    <p><b>Руководитель</b>: Дарков Алексей Евгеньевич</p>
    <p><b>Заместитель руководителя</b>: Крючков Вячеслав Егорович</p>
    <p><b>ОНО международных</b>: нет</p>
    <p><b>ОНО общероссийских</b>: нет</p>
    <p><b>ОНО межрегиональных</b>: нет</p>
    <p><b>ОНО региональных</b>: нет</p>
    <p><b>Cотрудников штатных</b>: 2</p>
    <p><b>Добровольцев</b>: 20</p>
    <p><b>Юридический адрес</b>: 117593, г.Москва, Соловьиный проезд д.1</p>
    <p><b>Адрес постоянно действующего руководящего органа организации</b>: 117593, г.Москва, Соловьиный проезд д.1</p>
    <p><b>Номера телефона и факса организации</b>: (495)428-98-00</p>
    <p><b>Адрес электронной почты</b>: MOO_CHEST@mail.ru</p>
    <p><b>Адрес ресурса в Интернете</b>: roochest.ru, veteran-chest.ru</p>
</div>