<footer class="page-footer font-small teal pt-4 elegant-color">
    <div class="container-fluid text-center text-md-left elegant-color">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase font-weight-bold">КОНТАКТЫ</h5>
          <p class="font-weight-bold">Адрес:</p>
          <p>117593, г. Москва, ул. Соловьиный проезд, д. 1</p>
          <p class="font-weight-bold">Телефон:</p>
          <p>8-495-427-98-00</p>
          <p>8-495-427-98-11</p>
          <p class="font-weight-bold">E-mail:</p>
          <a href="mailto:moo_chest@mail.ru">moo_chest@mail.ru</a>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3">
          <h5 class="text-uppercase font-weight-bold">ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ</h5>
          <p class="font-weight-bold">Полное наименование организации:</p>
          <p>Межрегиональная общественная организация ветеранов оперативных служб «Честь»</p>
          <p class="font-weight-bold">ИНН:</p>
          <p>7718206064</p>
          <p class="font-weight-bold">ОГРН:</p>
          <p>1027700294379</p>
          <p class="font-weight-bold">ОКВЭД 1: </p>
          <p>91.33, 74.13.2, 22.1, 85.32</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3 elegant-color-dark">© 2019
      <a href="#">Межрегиональная общественная организация ветеранов оперативных служб «Честь»</a>
    </div>
</footer>