<section class="cloudy-knoxville-gradient animated zoomIn">
    <h2 class="font-weight-bold py-5 text-center">Галерея</h2>
    <div class="row no-gutters">
        <div class="col-md-12">
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox" data-pswp-uid="4">
                <figure class="col-md-4" *ngFor="let item of albums">
                    <a [routerLink]="['/gallery', item.id]" data-size="1600x1067">
                        <img [src]="item.images[0].url" class="img-fluid z-depth-1">
                        <h4 class="text-center text-uppercase text-dark m-2">{{item.name}}</h4>
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section>