<section class="animated zoomIn">
    <h2 class="m-3 text-center text-uppercase">Галерея</h2>
    <div class="row no-gutters">
        <div class="col-md-12">
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox" data-pswp-uid="4">
                <figure class="col-md-4" *ngFor="let item of albums">
                    <a [routerLink]="['/gallery', item.album.id]" data-size="1600x1067">
                        <img [src]="item.titleImage" class="img-fluid z-depth-1 ctn">
                        <h4 class="text-center text-uppercase text-white m-2">{{item.album.name}}</h4>
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section>