<mat-sidenav-container class="header">
    <mat-sidenav #sidenav class="header-links p-3">
        <a class="dropdown-item nav-link" href="#">я крокодил</a>
        <a class="dropdown-item nav-link" href="#">крокожу</a>
        <a class="dropdown-item nav-link" href="#">и буду крокодить</a>
        <a class="dropdown-item nav-link" href="#">я крокодил</a>
        <a class="dropdown-item nav-link" href="#">крокожу</a>
        <a class="dropdown-item nav-link" href="#">и буду крокодить</a>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button (click)="sidenav.toggle()" class="menu-icon m-3 btn-lg" type="button"></button>
    </mat-sidenav-content>
</mat-sidenav-container>