<section class="cloudy-knoxville-gradient">
    <div>
        <i (click)="goBack()" class="material-icons btn-back">arrow_back</i>
        <h2 class="font-weight-bold py-5 text-center">{{album.name}}</h2>
    </div>
    <div class="row no-gutters">
        <div class="col-md-12">
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox" data-pswp-uid="4">
                <figure class="col-md-4" *ngFor="let item of images; let i = index">
                    <a data-size="1600x1067">
                        <img src="{{item.url}}" (click)="openDialog(i)" class="img-fluid z-depth-1">
                        <p class="text-center">{{item.name}}</p>
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section>