<section class="px-3">
    <h4 class="m-3">НАГРАДЫ</h4>
    <div class="row animated zoomIn text-center">
        <div class="col-sm-6 col-md-4 mb-4" *ngFor="let item of awards; let i = index">
            <div [routerLink]="['/awards', item.id]">
                <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                    <img class="img-fluid" [src]="item.titleImage" alt="Sample image" style="height: 17rem; object-fit: cover; width: 100%;">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <h4 class="font-weight-bold mb-3"><strong>{{item.name}}</strong></h4>
            </div>
            <p class="" style="text-align: justify">{{item.shortDescription}}</p>
            <a mdbBtn color="white" rounded="true" mdbWavesEffect [routerLink]="['/awards', item.id]">ЧИТАТЬ ДАЛЕЕ</a>
        </div>
    </div>
</section>
