.paddingzero{
    padding:0 !important;
}
.comments{
    background-color: #181818;
    mat-list{
        overflow-y: scroll;
        height: 21rem;
    }
}
.text-center{
    color:white;
}
.mat-stroked-button{
    background-color:#ffffff;
    color:black;
}
.mat-stroked-button:hover{
    background-color:rgb(187, 187, 187);
}
::ng-deep .mat-form-field {
    .mat-input-element {
        color: rgb(202, 202, 202);
    }
    .mat-form-field-label {
        color: rgb(184, 184, 184);
    }
    .mat-form-field-underline {
        background-color: rgb(184, 184, 184);
    }
    .mat-form-field-ripple {
        background-color: rgb(184, 184, 184);
    }
    .mat-form-field-required-marker {
        color: rgb(184, 184, 184);
    }
}
::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: white;
    }
    .mat-form-field-ripple {
        background-color: white;
    }
    .mat-form-field-required-marker {
        color: white;
    }
    .mat-input-element {
        color: white;
    }
    .mat-input-cursor{
        color: white;
    }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: #B00020;
    }
    .mat-form-field-label {
        color: #B00020;
        .mat-form-field-required-marker {
            color: #B00020;
        }
    }
    .mat-form-field-ripple {
        background-color: #B00020;
    }
}

@media screen and (orientation: portrait) { 
    .comments{
        display: none;
        width: 0!important;
    }
    .paddingzero{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .gi {
        width: 100% !important;
        height: 17rem;
        object-fit: contain;
        background-color: rgb(12, 12, 12);
    }
    .btn-next{
        display: none;
    }
    .btn-prev{
        display: none;
    }
  }
  @media screen and (orientation: landscape) { 
    .gi{
        height:43rem;
        object-fit: contain;
        background: rgb(12, 12, 12);
        object-position: center;
    }
    .time{
        display: block;
        text-align: right;
    }
    .item{
        border-bottom: 1px solid;
        background: transparent;
    }
    .bottom{
        position: absolute;
        bottom: 2%;
    }
    .btn-next{
        color: white;
        position: absolute;
        left: 20%;
        top: 50%;
    }
    
    .btn-prev{
        color: white;
        position: absolute;
        left: 73%;
        top: 50%;
    }
    .btn-next:hover, .btn-prev:hover{
        color:grey !important;
    }
  }