<div class="container pt-3">
    <app-back-button></app-back-button>
    <div class="row mt-1">
        <div class="col-md-9">
            <section>
                <section class="py-3 animated zoomIn">
                    <mat-card class="example-card">
                        <mat-card-header class="p-3">
                            <mat-card-title>{{memo.title}}</mat-card-title>
                            <mat-card-subtitle>Опубликовано {{memo.author}} в {{memo.time}}</mat-card-subtitle>
                        </mat-card-header>
                        <div class="container-fluid">
                            <div class="row justify-content-center p-3">
                                <img  mat-card-image [src]="memo.title_image">
                            </div>
                        </div>
                        <mat-card-content style="text-align: justify" [innerHTML]="htmlData" class="p-3">
                        </mat-card-content>
                        <div style="padding: 1rem;">
                            <p style="text-align: center; text-decoration: underline; font-weight: bold;">Комментарии</p>
                            <ng-container *ngFor="let comment of comments">
                                <div *ngIf="comment.active">
                                    <div class="head">
                                        <p class="c-name">{{comment.nickname}}</p>
                                        <p class="c-date">{{comment.time}}</p>
                                    </div>
                                    <div class="body">
                                        {{comment.description}}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <mat-card-actions class="p-3">
                          <button (click)="openDialog()" mat-button>Оставить комментарий</button>
                        </mat-card-actions>
                    </mat-card>
                </section>
            </section>
        </div>
        <div class="col-md-3">
            <h4 class="my-3">Другие воспоминания</h4>
            <section class="mb-3">
                <section class="animated fadeInRight">
                    <mat-card class="example-card my-3" *ngFor="let item of OtherMemo.slice(0, 3); let i = index">
                        <div (click)="routerLink(item.id)">
                        <mat-card-header class="p-2">
                            <mat-card-title>{{item.title}}</mat-card-title>
                            <mat-card-subtitle>Опубликовано {{item.author}} в {{item.time}}</mat-card-subtitle>
                        </mat-card-header>
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <img  mat-card-image [src]="item.title_image" style="width: 100%; margin: 0;">
                            </div>
                        </div>
                        </div>
                    </mat-card>
                </section>
            </section>
        </div>
    </div>
</div>
