@media screen and (orientation: landscape) { 
  .mat-card-image {
    width: 50%;
    height: auto !important;
    object-fit: cover !important;
  }
}
@media screen and (orientation: portrait) { 
  .mat-card-image {
    height: 15rem !important;
    object-fit: cover !important;
  }
}
.example-card {
  max-width: 100%;
}