<mat-sidenav-container class="header">
        <mat-sidenav #sidenav over class="header-links p-3">
            <button mat-button (click)="sidenav.toggle()" class="btn-block text-right" type="button"
            style="outline:none;">X</button>
            <a class="dropdown-item nav-link" href="#">я крокодил</a>
            <a class="dropdown-item nav-link" href="#">крокожу</a>
            <a class="dropdown-item nav-link" href="#">и буду крокодить</a>
            <a class="dropdown-item nav-link" href="#">я крокодил</a>
            <a class="dropdown-item nav-link" href="#">крокожу</a>
            <a class="dropdown-item nav-link" href="#">и буду крокодить</a>
        </mat-sidenav>
        <mat-sidenav-content>
            <button mat-button (click)="sidenav.toggle()" class="menu-icon m-3" type="button"></button>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
</mat-sidenav-container>
