<mat-sidenav-container class="header">
    <mat-sidenav #sidenav over class="header-links p-3">
        <i (click)="sidenav.toggle()" class="btn-block text-right material-icons links" 
            style="outline:none;">arrow_back_ios</i>
        <div class="logo m-3"></div>
        <a class="dropdown-item nav-link" href="#">я крокодил</a>
        <a class="dropdown-item nav-link" href="#">крокожу</a>
        <a class="dropdown-item nav-link" href="#">и буду крокодить</a>
        <a class="dropdown-item nav-link" href="#">я крокодил</a>
        <a class="dropdown-item nav-link" href="#">крокожу</a>
        <a class="dropdown-item nav-link" href="#">и буду крокодить</a>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button (click)="sidenav.toggle()" class="menu-icon m-3" type="button"></button>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#212121"
size = "large"
color = "#ffffff"
type = "square-spin"
[fullScreen] = "true"
>
<p style="color: white" > </p>
</ngx-spinner>