// .header {  
//     flex-direction: column;
//     position: fixed;
//     background-color: transparent;
//     overflow: hidden;
//     height: 100vh;
// }
// .header-links {
//     background-color: rgba(10, 10, 10, 0.849) !important;
//     color: rgb(245, 245, 245) !important;
//     overflow-x:hidden;
//     overflow-y:visible;
//     font-size: large;
// }
// .dropdown-item {
//     background-color: transparent;
//     color: rgb(255, 255, 255);
// }
// .dropdown-item:hover {
//     background-color: rgba(10, 10, 10, 0.849) !important;
//     color: rgb(190, 190, 190);
// }
// .menu-icon {
//     display: inline-block;
//     outline:none;
//     position: fixed;
//     z-index: 999;
//     color: rgb(255, 255, 255);
//     margin-top: -5px;
//     font-size: 2.5rem;
//     cursor: pointer;
// }

// .menu-icon:hover {
//     color: rgb(83, 198, 254);
// }

// @media screen and (orientation: portrait) { 
//     .header-links {
//         background-color: rgba(10, 10, 10, 0.849);
//         color: rgb(245, 245, 245) !important;
//         overflow-x:hidden;
//         width: 100vw;
//         text-align: center;
//         vertical-align: middle;
//         font-size: large;
//     }
// }
// .links:hover {
//     color: rgb(190, 190, 190);
//     cursor: pointer;
// }

// .logo {
//     margin: auto;
//     z-index: 10;
//     height: 10rem;
//     background-image: url("/assets/images/logo.png");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
//     outline: none;
//     cursor: pointer;
// }

// .active {
//     background-color: white;
//     color: black;
//     outline: none;
// }
.nav-item{
    height: fit-content;
}
.navbar {
  position: absolute;
  background-color: rgba(17, 17, 17, 0.89);
 
  z-index: 999999;
  width:100%;
}
.icons-links {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}
.dropdown-menu{
  position: absolute;
  background-color: rgba(17, 17, 17, 0.89);
  overflow-y: visible;
  z-index:9999; 
}
.nav-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.nav-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after { 
  width: 100%; 
  left: 0;
  color: white; 
}

.icons {
    width: 30px;
    height: 30px;
}
img.hovered,
  a:hover>img { display: none }
  a:hover>img.hovered { display: inline }

.logo-link{
    background-color: transparent;
    color:white;
    
    right:0;
    left:0;
    z-index: 9999;
    }
    .logo2{
      position: relative;
      float:left;
      margin: auto;
      z-index: 9999;
      width: 3rem;
      height: 3rem;
      background-image: url("/assets/images/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; 
    }
    .text-link{
      float:right;
    }
  .logo-link:hover{
    color: #9e9e9e;
  }
  @media screen and (orientation: portrait) { 
    // .icons-links {
    //     display: none;
    // }
    // .logo-link{
    //   position:absolute;
    //   left: 50%;
    // }
    // .logo2{
    //   position: relative;
    //   float:left;
    //   margin: auto;
    //   z-index: 9999;
    //   width: 3rem;
    //   height: 3rem;
    //   background-image: url("/assets/images/logo.png");
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   background-position: center; 
    // }
    // .text-link{
    //   float:right;
    // }
    .logo-link{
      display:none;
    }
  }
  
