<mat-sidenav-container class="header">
    <mat-sidenav #sidenav over class="header-links p-3">
        <i (click)="sidenav.toggle()" class="btn-block text-right material-icons links" 
            style="outline:none;">arrow_back_ios</i>
        <div class="logo m-3"></div>
        <a 
            class="dropdown-item nav-link text-uppercase" 
            routerLink="" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
        >Главная</a>
        <a 
            class="dropdown-item nav-link text-uppercase" 
            routerLink="news" 
            routerLinkActive="active"
        >Новости</a>
        <a 
            class="dropdown-item nav-link text-uppercase" 
            routerLink="memories" 
            routerLinkActive="active">Воспоминания</a>
        <a 
            class="dropdown-item nav-link text-uppercase" 
            routerLink="rally" 
            routerLinkActive="active"
        >Автопробеги</a>
        <a 
            class="dropdown-item nav-link text-uppercase" 
            routerLink="events" 
            routerLinkActive="active"
        >Мероприятия</a>
        <a 
            class="dropdown-item nav-link text-uppercase" 
            routerLink="about" 
            routerLinkActive="active"
        >Об организации</a>
    </mat-sidenav>
    <mat-sidenav-content style="width: 100vw;">
        <!-- <button mat-button (click)="sidenav.toggle()" class="menu-icon m-3" type="button"></button> -->
        <i (click)="sidenav.toggle()" class="material-icons md-light menu-icon p-3">menu</i>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>

</mat-sidenav-container>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#212121"
size = "large"
color = "#ffffff"
type = "square-spin"
[fullScreen] = "true"
>
<p style="color: white" > </p>
</ngx-spinner>