<section class="cloudy-knoxville-gradient pt-5">
    <button (click)="goBack()" type="button" class="btn-back" mdbBtn color="danger" outline="true" mdbWavesEffect>Вернуться назад</button>
        <section class="p-3">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>{{event.title}}</mat-card-title>
                        <mat-card-subtitle>Опубликовано {{event.author}} в {{event.time}}</mat-card-subtitle>
                    </mat-card-header>
                    <div class="container-fluid">
                        <div class="row justify-content-center py-3">
                                <img mat-card-image [src]="event.album.images[0].url">
                        </div>
                    </div>
                    <mat-card-content>
                        <p>{{event.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>Написать комментарий</button>
                    </mat-card-actions>
                </mat-card>
        </section>
</section>