@media screen and (orientation: landscape) { 
  .mat-card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.example-card {
  max-width: 100%;
}
@media screen and (orientation: portrait) { 
  .mat-card-image {
    height: 15rem !important;
    object-fit: cover !important;
  }
}

.mat-card {
  padding: 0 !important;
}

.subtitle {
  font-size: 1.3rem !important;
}

.mat-card-content {
  color: black !important;
  font-size: 1.1rem !important;
}