<div class="jumbotron jumbotron-fluid py-5 elegant-color">
    <div class="container-fluid d-flex flex-column align-content-center flex-wrap">
        <h1 class="h2 p-3 text-center">Подпишитесь на рассылку!</h1>
        <mat-form-field appearance="fill" class="w-50">
            <mat-label>Ваше имя</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-50">
            <mat-label>Ваша почта</mat-label>
            <input matInput type="email">
        </mat-form-field>
        <button mat-raised-button click="onClick()">Подписаться</button>
    </div>
  </div>