<div class="p-5 cloudy-knoxville-gradient">
    <section class="">
      <h3 class="text-center font-weight-bold mb-5">Мероприятия</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="card text-center">
            <div class="card-body px-5 pt-5 pb-4">
              <div class="row">
                <div class="col-md-5 mb-md-4">
                  <div class="view overlay z-depth-1 mb-4">
                    <img [src]="events[0].album.images[0].url" class="img-fluid rounded-0"
                      alt="Sample image">
                    <a>
                      <div class="mask rgba-white-light waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 text-left mb-md-5 mb-4">
                  <h4 class="mb-3"><strong>{{events[0].title}}</strong></h4>
                  <p class="dark-grey-text">{{events[0].description}}</p>
                  <p>by <a><strong>{{events[0].author}}</strong></a>, {{events[0].time}}</p>
                  <button [routerLink]="['/events', events[0].id]" mdbBtn type="button" color="indigo" mdbWavesEffect>Читать далее</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">

                  <div class="single-news" *ngFor="let item of events; let i = index">
                    <div class="row mb-3" *ngIf="(i %2 == 0) && (i != 0)">
                      <div class="col-md-4">
                        <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                          <img [src]="item.album.images[i].url"
                            class="img-fluid rounded-0" alt="Minor sample post image">
                          <a>
                            <div class="mask rgba-white-light waves-effect waves-light"></div>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <p class="font-small text-left mb-2"><strong>{{item.time}}</strong></p>
                        <p class="text-left"><a>{{item.title}}
                            <i class="material-icons float-right">arrow_forward_ios</i>
                          </a></p>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-6">

                  <div class="single-news" *ngFor="let item of events; let i = index">
                    <div class="row mb-3" *ngIf="i %2 != 0">
                      <div class="col-md-4">
                        <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                          <img [src]="item.album.images[i].url"
                            class="img-fluid rounded-0" alt="Minor sample post image">
                          <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <p class="font-small text-left mb-2"><strong>{{item.time}}</strong></p>
                        <p class="text-left"><a>{{item.title}}
                          <i class="material-icons float-right">arrow_forward_ios</i>
                          </a></p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>