html,
body,
.view {
    height: 100%;
    -ms-touch-action: auto !important;
    touch-action: auto !important;
    width: 100%;
}

.transition{
  position:fixed;
  bottom:0;
  height:15%;
  width:100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%);
  z-index:9999;
}
.logo {
  position: absolute;
  top: 5%;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  width: 10rem;
  height: 10rem;
  background-image: url("/assets/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.jumbotron{
  background-image: url("/assets/images/BG-5.gif");
  background-position: 75% center;
  background-size: cover;
  background-size: 200%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding:0;
  text-align: center;
}
.blur{
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  backdrop-filter: blur(10px);
  padding-top :10rem;
  padding-bottom: 10rem;
}

@media screen and (orientation: portrait) {
  .jumbotron{
    background-size: 900%;
    background-position: 60% 60%;
  }
  .align-left{
    text-align: left!important;
  }
}
.logo-jum {
  width: 10rem; 
  height: auto;
}

.overlay .mask {
  cursor: pointer;
}
.display-4, .lead{
  color: white;
}
mat-grid-list{
  margin: 1rem;
}
.grid-img{
      object-fit: cover!important;
      width: 100%!important;
      height: 100%!important;
      max-width: 100%!important;
      cursor: pointer;
}
.who{
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  text-shadow: rgb(0, 0, 0) 1px 0 15px;
  z-index: 9;
  padding: 0.1rem;
  text-transform: uppercase;
  p{
    color:white;
    margin: 0!important;
    font-weight: 400;
  }
  div{
    height: fit-content;
    position: absolute;
    top: 1.8rem;
    padding:0.2rem!important;
  }
}
figure{
  img{
    max-width: 100%!important;
  }
}

.mat-grid-list {
  background-color: rgb(24, 24, 24) !important;
}

.ci {
  object-fit: cover;
  width: 100%;
  height: auto;
}


$animationSpeed: 80s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-25rem * 8))}
}

@keyframes kek {
	0% { transform: translateX(calc(-25rem * 8)) }
	100% { transform: translateX(0); }
}


// Styling
.slider {
	background: rgb(24, 24, 24);
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 25rem;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(25rem * 16);
  }
  .slide-track1 {
		animation: kek $animationSpeed linear infinite;
		display: flex;
		width: calc(25rem * 16);
	}
	
	.slide {
    width: 25rem;
    position: relative;

    .overlay-mask {
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-attachment: fixed;
      background-color: rgba(0,0,0,0.7);
    }

  }
  
  .slide-img {
    height: 15rem;
    width: 25rem;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
  }

  .slider-text {
    position: absolute;
    width: 25rem;
    color: white;
    padding: 1rem;
    z-index: 10;
    font-weight: 400;

    h4 {
      font-family: 'Uni Sans Heavy Italic';
      font-style: italic;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 24px;
      letter-spacing: .55px;
    }

  }

}

.slick-text {
  h4 {
    font-family: 'Uni Sans Heavy Italic';
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: .55px;
  }
  color: white;
  position: absolute;
  z-index: 9;
  padding: 2rem;
  bottom: 0;
  font-weight: 400;
}