.icons-links {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
}

.icons {
    width: 30px;
    height: 30px;
}
img.hovered,
  a:hover>img { display: none }
  a:hover>img.hovered { display: inline }

div.main{
    color: white;
}
@media screen and (orientation: portrait) { 
    .icons-links {
        display: none;
    }
    .main-text {
      font-family: 'Uni Sans Heavy Italic';
      font-style: italic;
      font-weight: 400;
      text-transform: uppercase;
      text-align: right;
      font-size: 50px !important;
      letter-spacing: 3.25px;
      margin-bottom: 5vh !important;
      line-height: 60px !important;
    }
    .slider-img {
      position: absolute;
      top: 0;
      right: -20vh;
      bottom: 0;
      height: auto;
      -ms-touch-action: auto !important;
      touch-action: auto !important;
      background-position: right;
    }
}

@media screen and (orientation: landscape) {
  .slider-img {
    object-fit: cover;
    width: 100vw;
    height: auto;
    -ms-touch-action: auto !important;
    touch-action: auto !important;
    background-position: right;
    float: right;
}
}

.main-text {
    font-family: 'Uni Sans Heavy Italic';
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    font-size: 100px;
    letter-spacing: 3.25px;
    line-height: 146px;
    margin-bottom: 40px;
}


html,
body,
.view {
    height: 100vh;
    -ms-touch-action: auto !important;
    touch-action: auto !important;
}

/* Full Page Carousel itself*/
.carousel {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  -ms-touch-action: auto !important;
  touch-action: auto !important;
}

.carousel .carousel-inner {
  height: 100vh;
  -ms-touch-action: auto !important;
  touch-action: auto !important;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100vh;
  -ms-touch-action: auto !important;
  touch-action: auto !important;
}

img {
  &.d-block {
    height: 100vh;
  } 
}
.transition{
  position:fixed;
  bottom:0;
  height:15%;
  width:100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%);
  z-index:9999;
}
.logo {
  position: absolute;
  top: 5%;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  width: 10rem;
  height: 10rem;
  background-image: url("/assets/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-jum {
  width: 10rem; 
  height: auto;
}

.slick-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.8;
  margin-bottom: 1%;
}

.slick-text {
  h4 {
    font-family: 'Uni Sans Heavy Italic';
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: .55px;
  }
  color: white;
  position: absolute;
  z-index: 9;
  padding: 2rem;
  bottom: 0;
  font-weight: 400;
}

.overlay .mask {
  cursor: pointer;
}
.display-4, .lead{
  color: white;
}
mat-grid-list{
  margin: 1rem;
}
.grid-img{
      object-fit: cover!important;
      width: 100%!important;
      height: 100%!important;
      max-width: 100%!important;
}
.who{
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  background: darkred;
  padding: 0.2rem;
  p{
    color:white;
    margin: 0!important;
  }
  div{
    height: fit-content;
    position: absolute;
    top: 3.2rem;
    padding:0.2rem!important;
    background: #000000ba;
  }
}
figure{
  img{
    max-width: 100%!important;
  }
}