<div style="width: 100vw;">
<div class="main">
    <div class="icons-links text-right m-4">  
            <a class="text-right mx-2" href="#">
                <img src="/assets/icons/inst.png" class ="icons" alt="">
                <img src="/assets/icons/inst-h.png" class ="icons hovered" alt="">
            </a>
            <a class="text-right mx-2" href="#">
                <img src="/assets/icons/fb.png" class ="icons" alt="">
                <img src="/assets/icons/fb-h.png" class ="icons hovered" alt="">
            </a>
            <a class="text-right mx-2" href="#">
                <img src="/assets/icons/ok.png" class ="icons" alt="">
                <img src="/assets/icons/ok-h.png" class ="icons hovered" alt="">
            </a>
            <a class="text-right mx-2" href="#">
                <img src="/assets/icons/vk.png" class ="icons" alt="">
                <img src="/assets/icons/vk-h.png" class ="icons hovered" alt="">
            </a>
    </div>
</div>


<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [isControls]="false">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block slider-img" src="https://cdn.iz.ru/sites/default/files/styles/900x506/public/news-2019-06/ZUB_8112.jpg?itok=2KBQyBHc" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <p class="main-text">СЛУЖИМ РОССИИ</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block slider-img" src="https://s0.rbk.ru/v6_top_pics/media/img/2/81/755711669423812.jpeg" alt="Second slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <p class="main-text">СЛУЖИМ ЗАКОНУ</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block slider-img" src="https://ig.vgoroden.ru/gfzyemsteaz08_15iwsn5_w-1200.jpeg" alt="Third slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <p class="main-text">МОО ВОС "ЧЕСТЬ"</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<div class="jumbotron jumbotron-fluid mb-0 cloudy-knoxville-gradient">
  <div class="container d-sm-flex align-items-center justify-content-center">
    <div class="mx-auto text-center mb-3">
      <img src="/assets/images/logo.png" alt="logo" class="img-fluid logo-jum mx-auto">
    </div>
    <div class="ml-5 mr-3">
      <h1 class="display-4">ЧЕСТЬ</h1>
      <p class="lead">МЕЖРЕГИОНАЛЬНАЯ ОБЩЕСТВЕННАЯ ОРГАНИЗАЦИЯ ВЕТЕРАНОВ ОПЕРАТИВНЫХ СЛУЖБ</p>
    </div>
  </div>
</div>

<div class="py-5 elegant-color-dark">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let card of cards">
        <ng-template carouselSlide [id]="card.id" class ="parent">
            <img [src]="card.image" class="card-text">
            <div class="text-card">
                <p class="text-desk-ch">Воспоминания</p>
                <h4 class="text-desk">{{card.title}}</h4>
            </div>
          </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>

<div class="pb-5 elegant-color-dark overlay">
    <owl-carousel-o [options]="customOptionsReverse">
      <ng-container *ngFor="let card of cards">
        <ng-template carouselSlide [id]="card.id" class ="parent mask rgba-red-strong">
          <img [src]="card.image" class="card-text">
          <div class="text-card">
              <p class="text-desk-ch">Новости</p>
              <h4 class="text-desk">{{card.title}}</h4>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
</div>
