<div class="main">
    <div class="icons-links text-right m-3">  
            <a class="text-right mx-2" href="#">
                <img src="/assets/icons/inst.png" class ="icons" alt="">
                <img src="/assets/icons/inst-h.png" class ="icons hovered" alt="">
            </a>
            <a class="text-right mx-2" href="#">
                <img src="/assets/icons/fb.png" class ="icons" alt="">
                <img src="/assets/icons/fb-h.png" class ="icons hovered" alt="">
            </a>
            <a class="text-right mx-2" href="#">
                <img src="/assets/icons/ok.png" class ="icons" alt="">
                <img src="/assets/icons/ok-h.png" class ="icons hovered" alt="">
            </a>
            <a class="text-right mx-2" href="#">
                <img src="/assets/icons/vk.png" class ="icons" alt="">
                <img src="/assets/icons/vk-h.png" class ="icons hovered" alt="">
            </a>
    </div>
</div>


<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="http://девичий-спецназ.рф/images/Devushki-kursanty-na-prisyage__%D0%9C%D0%92%D0%94.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-right">
            <h5 class="display-2 main-text">First slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="http://девичий-спецназ.рф/images/Devushki-kursanty-na-prisyage__%D0%9C%D0%92%D0%94.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-right">
            <h5 class="display-2 main-text">Second slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="http://девичий-спецназ.рф/images/Devushki-kursanty-na-prisyage__%D0%9C%D0%92%D0%94.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-right">
            <h5 class="display-2 main-text">Third slide label</h5>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>