/* You can add global styles to this file, and also import other style files */
@import './material-theme';

html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(24, 24, 24);
}

.mat-paginator {
  background: transparent !important;
}

@font-face {
    font-family: 'Uni Sans Heavy Italic';
    src: url('/assets/fonts/UniSansHeavyItalic.eot');
    src: url('/assets/fonts/UniSansHeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/UniSansHeavyItalic.woff') format('woff'),
    url('/assets/fonts/UniSansHeavyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.btn-back {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
}

.mdb-lightbox figure{
    float: left;
}

* {
    outline: none;
}

.cloudy-knoxville-gradient {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #dbdbdb 100%) !important;
}

@media screen and (orientation: landscape) { 
    .mat-dialog-container {
        padding: 0 !important;
        width: 95% !important;
        height: auto !important;
        overflow:  hidden !important;
    }
}
@media screen and (orientation: portrait) { 
    .mat-dialog-container {
        padding: 0 !important;
        width: 100% !important;
        height: auto !important;
        object-fit: cover !important;
    }

    .cdk-overlay-pane {
        max-width: 100% !important;
        width: 100% !important;
        height: auto !important;
    }
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.81);
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(24, 24, 24); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .logo-link{
    background-color: transparent;
    color:rgb(0, 0, 0);
    right:0;
    left:0;
    z-index: 9999;
  }
  .logo-link:hover{
    color: #46a9ff;
  }

.ci{
  max-width: 100%!important;
}
@media screen and (orientation: landscape) { 
    .image {
      img {
          width:auto !important;
          max-width:100% !important;
          height:auto !important;
          display:block;
          margin:auto;
      }
    }
}
@media screen and (orientation: portrait) { 
    .image{
        img{
          width:auto !important;
          max-width:100% !important;
          height:auto !important;
        }
    }

    .ci {
      object-fit: cover;
      height: 100% !important;
      // height: auto;
    }
    .ci-slide{
      object-fit: cover;
      height: 100%;
      max-width: 100% !important;
    }
}