<div class="container">
  <div class="row">
    <div class="col-8 paddingzero">
      <mdb-carousel [animation]="'slide'" [activeSlideIndex]="data.id">
        <mdb-carousel-item *ngFor="let item of data.images; let i = index">
          <img class="d-block w-100 gi"  [src]="item.url" alt="First slide">
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
    <div class="col-4 comments">
        <mat-list>
            <mat-list-item class="item" *ngFor="let comment of currentPhotoComments">
                <h3 class="nickname" matLine> {{comment.nickname}} </h3>
                <p matLine>
                  <span > {{comment.comment}} </span>
                  <span class="time">{{comment.time}} </span>
                </p>
            </mat-list-item>
        </mat-list>
    </div>
  </div>
</div>