.paddingzero{
    padding:0 !important;
}
.comments{
    background-color: lightgray;
    mat-list{
        overflow-y: scroll;
        height: 21rem;
    }
}


@media screen and (orientation: portrait) { 
    .comments{
        display: none;
        width: 0!important;
    }
    .paddingzero{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .gi {
        width: 100% !important;
        height: 17rem;
        object-fit: contain;
        background-color: rgb(12, 12, 12);
    }
    .btn-next{
        display: none;
    }
    .btn-prev{
        display: none;
    }
  }
  @media screen and (orientation: landscape) { 
    .gi{
        height:43rem;
        object-fit: contain;
        background: rgb(12, 12, 12);
        object-fit: contain;
    }
    .time{
        display: block;
        text-align: right;
    }
    .item{
        border-bottom: 1px solid;
        background: gray;
    }
    .bottom{
        position: absolute;
        bottom: 2%;
    }
    .btn-next{
        color: white;
        position: absolute;
        left: 3vw;
        top: 50%;
    }
    .btn-prev{
        color: white;
        position: absolute;
        left: 90vw;
        top: 50%;
    }
  }