<div class="container">
  <div class="row">
    <div class="col-8 paddingzero">
      <mdb-carousel #carouselRef [isControls]="false"  [noWrap]="false" [(activeSlideIndex)]="activeSlideIndex" [interval]="false">
        <mdb-carousel-item *ngFor="let item of data.images; let i = index">
          <img class="d-block w-100 gi"  [src]="item.url" alt="First slide">
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
    <!-- <i (click)="goBack()" class="material-icons btn-back">arrow_back</i> -->
    <i (click)="previousSlide(carouselRef)" class="btn-next material-icons">keyboard_arrow_left</i>
    <i (click)="nextSlide(carouselRef)" class="btn-prev material-icons">keyboard_arrow_right</i>
    <div class="col-4 comments p-0">
      <div>
        <mat-list class="p-2">
            <mat-list-item class="item" *ngFor="let comment of currentPhotoComments">
                <h3 class="nickname" matLine> {{comment.nickname}} </h3>
                <p matLine>
                  <span > {{comment.comment}} </span>
                  <span class="time">{{comment.time}} </span>
                </p>
            </mat-list-item>
        </mat-list>
      </div>
      <div class="container bottom">
          <form class="text-center border-light" [formGroup]="commentFb" (ngSubmit)="onSubmit(carouselRef)">
              <p class="h4">Оставьте комментарий</p>
              <mat-form-field class="m-0 w-100 p-0">
                  <input matInput placeholder="Ваше имя" type="text" formControlName="nickname">
                </mat-form-field>
                <mat-form-field class="m-0 w-100 p-0">
                    <input matInput placeholder="Ваша почта" type="email" formControlName="email">
                </mat-form-field>
              <div class="form-group">
                  <mat-form-field class="m-0 w-100 p-0">
                      <textarea matInput placeholder="Комментарий" type="text" formControlName="comment"></textarea>
                    </mat-form-field>
              </div>  
              <button mat-raised-button type="submit" class="m-0 p-0 btn-block">Отправить</button>       
          </form>
      </div>
    </div>
  </div>
</div>